app:
    jwtExpirationInMs: 604800000
    jwtSecret: JWTSuperSecretKey
logging:
    config: '${spring.config.location}/log4j2.xml'
    level:
        org:
            hibernate:
                SQL: DEBUG
server:
    port: 5000
spring:
    datasource:
        driverClassName: com.mysql.jdbc.Driver
        initialization-mode: always
        url: 'jdbc:mysql://docker.for.mac.localhost:3306/app?useSSL=false&useUnicode=true&characterEncoding=UTF-8&characterSetResults=UTF-8&useLegacyDatetimeCode=false&serverTimezone=UTC'
        username: root
        password: root
        hikari:
            connection-timeout: 60000
            maximum-pool-size: 5
    jackson:
        time-zone: UTC
        serialization:
            WRITE_DATES_AS_TIMESTAMPS: false
    jpa:
        database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
        show-sql: true
        hibernate:
            ddl-auto: create-drop
