<?xml version="1.0" encoding="UTF-8" ?>
<Configuration>
    <Properties>
        <Property name="log-module">app</Property>
        <Property name="log-path">logs/${log-module}</Property>
    </Properties>

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ABSOLUTE} [%t] [${hostName}] [%X{request-id}] %-5p %c{1} - %m%n"/>
        </Console>

        <RollingFile name="RollingFileAppender" fileName="${log-path}/${log-module}.log" filePattern="${log-path}/${log-module}.log.%d{MM-dd-yyyy}-%i.gz">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss,SSS} [${hostName}] %C{1} %-5p [%t] [%X{request-id}] - %m%n</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 GB" />
                <TimeBasedTriggeringPolicy />
            </Policies>
            <DefaultRolloverStrategy max="15"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="com.ngocnd.app" level="DEBUG"/>
        <AsyncRoot level="INFO" includeLocation="true">
            <AppenderRef ref="ConsoleAppender"/>
            <AppenderRef ref="RollingFileAppender"/>
        </AsyncRoot>
    </Loggers>
</Configuration>
